/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0085FF;
  --ifm-color-primary-dark: #0e8bff;
  --ifm-color-primary-darker: #158cfb;
  --ifm-color-primary-darkest: #2293fc;
  --ifm-color-primary-light: #037def;
  --ifm-color-primary-lighter: #016dd3;
  --ifm-color-primary-lightest: #005db5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
details > summary:first-of-type {
  h2{
    display: inline;
  }
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0085FF;
  --ifm-color-primary-dark: #0077e6;
  --ifm-color-primary-darker: #006ed4;
  --ifm-color-primary-darkest: #0059ab;
  --ifm-color-primary-light: #0f89fc;
  --ifm-color-primary-lighter: #1e90fb;
  --ifm-color-primary-lightest: #3a9efc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-content-secondary:#ffffffb3;

}
.footer--dark {
  --ifm-footer-background-color:#080B13;
  --ifm-footer-link-color:#ffffffb3;
}
.footer__copyright{
  color: var(--ifm-color-content-secondary);
  text-align: left;
}